@font-face {
  font-family: HelveticaNeue;
  font-display: swap;
  src: url(../webfonts/HelveticaNeue.ttf);
}

* {
  font-family: "HelveticaNeue";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
          box-shadow: inset 0 0 6px #0000004d;
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: none;
  border-radius: 20px !important;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #008DC3;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {
  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}

video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body {
  background: #f3f3f3;
  color: #505458;
  font-size: 13px;
}

.verificationSystem {
  margin: 20px 10%;
  background-color: #008DC3;
  padding: 50px 16px;
}

.verificationSystem .logo {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.verificationSystem .logo img {
  width: 100%;
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
}

.verificationSystem .btn {
  padding: 4px 10px;
  border-radius: 2px;
  color: #ffffff;
}

.verificationSystem .btn.searchBtn {
  background-color: #A04688;
}

.verificationSystem .btn.cancelBtn {
  background-color: #65BBD6;
}

.searchData {
  padding: 30px 20px;
}

.searchData .title {
  color: #5b5b5b;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.searchData input[disabled] {
  cursor: not-allowed;
  background-color: #eee;
  font-size: 13px;
  color: #5b5b5b;
  padding: 5px;
  border-radius: 2px;
}

.form-control {
  height: 34px;
  border-radius: 2px;
}

.accordion-button {
  padding: 4px 13px 4px 13px;
  margin: 0px;
  font-weight: 400;
  font-size: 16px;
  color: #5b5b5b !important;
  border-radius: 2px 2px 0 0;
  background: #00000005 !important;
  border-bottom: 1px solid #0000001a !important;
  height: 36px !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.accordion-button:after {
  width: 20px;
  height: 20px;
  content: '\f107';
  font-family: "Font Awesome 6 Pro";
  background: none !important;
}

.accordion-body {
  padding: 10px;
  padding-bottom: 30px;
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0);
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }
}

@keyframes flipInX {
  0% {
    -webkit-transform: perspective(400px) rotateX(90deg);
    transform: perspective(400px) rotateX(90deg);
    opacity: 0;
  }
  40% {
    -webkit-transform: perspective(400px) rotateX(-10deg);
    transform: perspective(400px) rotateX(-10deg);
  }
  70% {
    -webkit-transform: perspective(400px) rotateX(10deg);
    transform: perspective(400px) rotateX(10deg);
  }
  100% {
    -webkit-transform: perspective(400px) rotateX(0);
    transform: perspective(400px) rotateX(0);
    opacity: 1;
  }
}

.flipInX {
  -webkit-backface-visibility: visible !important;
  backface-visibility: visible !important;
  -webkit-animation-name: flipInX;
  animation-name: flipInX;
}
/*# sourceMappingURL=style.css.map */