$mainColor: #008DC3;
$secondColor: #f5f4de;
$gold: #ffd700;
$white-color: #ffffff;
$black-color: #292929;
$transition: all 0.3s ease-in-out;
$shadow: 0px 2px 4px #00000030;
$BigShadow: 0px 8px 24px #00000030;

@font-face {
  font-family: montserrat;
  font-display: swap;
  src: url(../webfonts/montserrat-Arabic-Regular.woff);
}

* {
  font-family: "montserrat";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  direction: rtl;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  // background-color: #eee;
  border-radius: 0px !important;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 0px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #008DC3;
  outline: none;
  border-radius: 20px !important;
}

a {
  text-decoration: none;
  transition: $transition;
}

a:hover {
  text-decoration: none;
  color: $mainColor;
}

button:focus {
  outline: 0;
}

.row {
  margin: 0px;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

@media (max-width: 767px) {

  .container,
  .container-fluid {
    padding: 0px 8px;
  }
}

video,
img {
  max-width: 100%;
  height: auto;
  display: inline-block;
}

.btn:focus {
  box-shadow: none;
}

/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #008DC3, #004ec3);
  overflow-x: hidden;
}

.box_BG {
  position: fixed;
  top: 0;
  transform: rotate(80deg);
  left: 0;
  z-index: 1;

  .wave {
    position: fixed;
    top: 0;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 3%;
    left: 10%;
    background: #03719c;
    width: 1500px;
    height: 1300px;
    margin-left: -150px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 14s infinite linear;

    &.three {
      animation: drift 15s infinite linear;
      position: fixed;
      background-color: #31b3e6;
    }

    &.two {
      animation: drift 6s infinite linear;
      opacity: .1;
      background: black;
      position: fixed;
    }

    &:after {
      content: '';
      display: block;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 11;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes drift {
    from {
      transform: rotate(0deg);
    }

    from {
      transform: rotate(360deg);
    }
  }
}

.verificationSystem {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .formData {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(8px);
    border: 3px solid #ffffff30;
    padding: 40px 25px;
  }

  .logo {
    margin-bottom: 50px;

    img {
      width: 100%;
      height: 100px;
      object-fit: contain;
    }
  }

  .verificationForm {
    .title {
      text-align: center;
      font-weight: bold;
      color: $white-color;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: start;
    }

    .form-control {
      min-height: 48px;
      text-align: start;
      background-color: $mainColor;
      color: $white-color;
      border: 2px solid #ffffff30;
      border-radius: 8px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $white-color;
        opacity: .8;
        /* Firefox */
      }
    }

    [type=number] {
      direction: unset;
    }

    .buttons {
      padding: 20px 0 0px;

      .btn {
        background-color: $mainColor;
        color: $white-color;
        box-shadow: 0px 5px 0px #0178a7;
        transition: .3s ease-out;
        padding: 8px 24px;
        border-radius: 8px;

        &.searchBtn {
          background-color: #A04688;
          box-shadow: 0px 5px 0px #8c2b72;
        }

        &.cancelBtn {
          background-color: #454545;
          box-shadow: 0px 5px 0px #242424;
        }

        &:active {
          box-shadow: none;
          transform: translateY(5px);
        }

      }
    }
  }
  .searchData{
    background-color: #ffffff80;
    padding: 20px;
    margin-top: 20px;
    border-radius: 16px;

    .title {
      text-align: center;
      font-weight: bold;
      color: $white-color;
      padding-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: start;
      padding: 20px;
      background-color: $mainColor;
      border-radius: 8px;
    }
    .userData{
      padding-top: 20px;
      .info{
        margin-bottom: 10px;
      p{
        font-weight: bold;
      }
      h6{
        color: #454545;
        font-size: small !important;
      }
    }
  }
  }
}

// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
// //////////////////////////////////////////==================
@media (min-width: 992px) {

  /* Global */
  h1 {
    font-size: 30px !important;
  }

  h2 {
    font-size: 26px !important;
  }

  h3 {
    font-size: 22px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  h5 {
    font-size: 18px !important;
  }

  h6 {
    font-size: 16px !important;
  }

  a,
  p {
    font-size: 15px !important;
  }
}

/* Tablet device :768px. */
@media (min-width: 768px) and (max-width: 991px) {

  /* Global */
  body {
    font-size: 14px !important;
  }

  h1 {
    font-size: 26px !important;
  }

  h2 {
    font-size: 22px !important;
  }

  h3 {
    font-size: 20px !important;
  }

  h4 {
    font-size: 18px !important;
  }

  h5 {
    font-size: 16px !important;
  }

  h6 {
    font-size: 15px !important;
  }

  a,
  p {
    font-size: 14px !important;
  }
}

/* small mobile :320px. */
@media (max-width: 767px) {

  /* Global */
  body {
    font-size: 12px !important;
  }

  h1 {
    font-size: 22px !important;
  }

  h2 {
    font-size: 18px !important;
  }

  h3 {
    font-size: 17px !important;
  }

  h4 {
    font-size: 16px !important;
  }

  h5 {
    font-size: 15px !important;
  }

  h6 {
    font-size: 14px !important;
  }

  input,
  button,
  a,
  p {
    font-size: 13px !important;
  }
}